
header {
    font-size: 1rem;
    margin: 0 auto;

    .container-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        background-color: #61a0cb;
        color: $text-primary;

        .img {
        max-width: 100%;
        order: 1;
        }

        .titulo {
            order: 2;
            font-size: 3rem;
            color: $background-color;
            text-shadow: $shadow;
        }
    }
}



@media screen and (min-width: 500px){
    
    header{
        .container-header{
            flex-direction: row ;   

            .titulo {
                margin-left: 1em;
                
            }
        }
    }
}


        