header {
  font-size: 1rem;
  margin: 0 auto;
  /* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
  /*
 * But let's hide the middle one.
 */
  /*
 * Ohyeah and the last one should go the other direction
 */
  /*
 * Make this absolute positioned
 * at the top left of the screen
 */
  /*
 * And let's slide it in from the left
 */
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 10em;
  background: #833021;
}

header #menuToggle {
  display: block;
  position: relative;
  top: 50px;
  left: 50px;
  z-index: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
}

header #menuToggle a {
  text-decoration: none;
  color: #232323;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

header #menuToggle a:hover {
  color: tomato;
}

header #menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  /* hide this */
  z-index: 2;
  /* and place it over the hamburger */
  -webkit-touch-callout: none;
}

header #menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #d68686;
  border-radius: 3px;
  z-index: 1;
  -webkit-transform-origin: 4px 0px;
          transform-origin: 4px 0px;
  -webkit-transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

header #menuToggle span:first-child {
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
}

header #menuToggle span:nth-last-child(2) {
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
}

header #menuToggle input:checked ~ span {
  opacity: 1;
  -webkit-transform: rotate(45deg) translate(-2px, -1px);
          transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

header #menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  -webkit-transform: rotate(0deg) scale(0.2, 0.2);
          transform: rotate(0deg) scale(0.2, 0.2);
}

header #menuToggle input:checked ~ span:nth-last-child(2) {
  -webkit-transform: rotate(-45deg) translate(0, -1px);
          transform: rotate(-45deg) translate(0, -1px);
}

header #menu {
  position: absolute;
  width: 100vw;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
  -webkit-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

header #menu li {
  padding: 10px 0;
  font-size: 22px;
}

header #menuToggle input:checked ~ ul {
  -webkit-transform: none;
          transform: none;
}

main .container-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ebeeed;
  width: 100%;
}

main .container-main .menu-nav {
  font-size: 1.5rem;
  background-color: #bed4e2;
  color: #ebeeed;
  text-shadow: 4px 4px 8px #000;
}

main .container-main .menu-nav ul {
  list-style-type: none;
}

main .container-main .menu-nav ul li {
  margin-top: 3em;
  border-bottom: 2px solid #ebeeed;
}

main .container-main .menu-nav ul li:hover {
  color: black;
  font-size: 1.6rem;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

main .container-main .articulo-reciente {
  font-size: 1rem;
  text-align: center;
  padding-bottom: 1em;
  border-bottom: 2px solid black;
  margin-bottom: 3em;
}

main .container-main .articulo-reciente h1 {
  font-size: 1.5rem;
}

main .container-main .articulo-reciente .imagen {
  width: 100%;
  max-width: 100%;
  height: auto;
  margin-top: 2rem;
}

main .container-main .articulo-reciente .texto {
  font-size: 1.1rem;
  text-align: left;
}

main .container-main aside {
  text-align: center;
}

main .container-main aside .articulo-2 {
  margin-bottom: 5em;
}

main .container-main aside h3 {
  font-weight: lighter;
  font-style: oblique;
}

main .container-main aside .vermas {
  margin-top: 1em;
  font-family: "Open Sans", sans-serif;
  -webkit-box-shadow: 1px 1px 4px #bdbaba;
          box-shadow: 1px 1px 4px #bdbaba;
  border: none;
}

main .container-main aside .vermas:hover {
  -webkit-box-shadow: 2px 2px 8px #bed4e2;
          box-shadow: 2px 2px 8px #bed4e2;
  padding: 0.2em;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

main .container-main aside .bloque h2 {
  font-size: 1.2rem;
}

main .container-main aside .bloque img {
  max-width: 100%;
  margin-right: 1em;
}

@media screen and (min-width: 500px) {
  main .container-main {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  main .container-main .menu-nav {
    width: 20%;
  }
  main .container-main .articulo-reciente {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    font-size: 1rem;
  }
  main .container-main aside {
    width: 20%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  main .container-main aside .bloque {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .container-main aside h3 {
    text-align: left;
  }
  main .container-main aside .vermas {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

footer {
  background-color: #61a0cb;
  height: 100%;
  padding: 0.7em;
  color: white;
  text-align: center;
}

footer p {
  text-shadow: 4px 4px 8px #000;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0 auto;
}
/*# sourceMappingURL=style.css.map */