$primary-color: #61a0cb;
$background-color: rgb(235, 238, 237);
$text-primary: white;
$text-secondary: black;
$font: 'Open Sans', sans-serif;

@import 'header';
@import 'main';

body {
    font-family: $font;
    margin: 0 auto;
}